<title>India's first Site for Online Claim Preparation and Insurance Claim Assistance</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" 
        content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no,user-scalable=0"/>
<meta name="description" 
        content="We enhance your experience of dealing with hospitals and health insurance companies">
<meta name="keywords" content="SureServe, Insurance-claims, hospitalisation-claims">
<meta name="robots" content="index, follow" />
<meta name="author" content="varunon9@gmail.com">
<link rel="author" href="https://plus.google.com/u/0/104979787684845609573" />
<meta property="og:url" content="http://www.sureclaim.in">
<meta property="og:description" 
        content="We enhance your experience of dealing with hospitals and health insurance companies">
<meta property="og:title" content="India's first Site for Online Claim Preparation and Insurance Claim Assistance">
<meta property="og:site_name" content="http://www.sureclaim.in">
<meta itemprop="name" content="India's first Site for Online Claim Preparation and Insurance Claim Assistance">
<meta itemprop="description" 
        content="We enhance your experience of dealing with hospitals and health insurance companies.">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.sureclaim.in">
<meta name="twitter:title" content="India's first Site for Online Claim Preparation and Insurance Claim Assistance">
<meta name="twitter:description" 
        content="We enhance your experience of dealing with hospitals and health insurance companies">
<base href="/selfclaim/" />
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- Toast Plugin -->
<link href="bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"/>
<link href="bower_components/semantic/dist/semantic.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/main.css">

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
<script src="bower_components/semantic/dist/semantic.min.js"></script>

<script src="js/globals.js"></script>