<!DOCTYPE html>
<html>
    <head>
        <title>E-Meditek Claim form</title>
        <base href="/selfclaim/" />
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link href="bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/claimPreview.css">
    	<script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/forms.css">
        <script src="js/globals.js"></script>    	
        <style type="text/css">
        .right-align{
            width: 70%;
            position: relative;
            float: right;
            margin-bottom: 1%;
            text-align: center;
            font-weight: bold;
        }

        .right-align > p:nth-child(3) {
            font-weight: initial;
        }

        .left-align {
            width: 25%;
            position: relative;
            float: left;
            padding-left: 2%;
            padding-bottom: 2.7%;
        }

        .details-section{
            margin-bottom: -1%;
        }

        .details-section p {
            font-weight: bold;
        }
        </style>
    </head>
    <body>
        <div id="" class="row">
            <div class="col-md-2 left-align" style="">
                <img src="images/logo/e-meditek.png" style="">
            </div>
            <div class="col-md-10 right-align" style="">
                <p>CLAIM FORM - PART A' to 'CLAIM FORM FOR HEALTH INSURANCE POLICIES OTHER THAN TRAVEL AND PERSONAL ACCIDENT - PART A</p>
                <p>TO BE FILLED BY THE INSURED</p>
                <p>The issue of this Form is not to be taken as an admission of liablity</p>
            </div>
        </div>    	
    	<div id="detailsOfPrimaryInsured" class="details-section">
            <p>DETAILS OF PRIMARY INSURED:</p>
            <div class="row">
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        a) Policy No.:
                    </span>
                    <span class="fieldValue" data-field="policyNumber">
                    </span>
                </div>

                <div class="one-column new-label">
                    <span class="fieldLabel">
                        b) Company/ TPA ID No:
                    </span>
                    <span class="fieldValue" data-field="tpaIdNo" style="width: 35%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        c) Name:
                    </span>
                    <span class="fieldValue" data-field="policyHolderName" style="width: 80%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column full-label">
                    <span class="fieldLabel">
                        d) Address:
                    </span>
                    <span class="fieldValue" data-field="policyHolderAddress">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        City:
                    </span>
                    <span class="fieldValue" data-field="policyHolderCity">
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        State:
                    </span>
                    <span class="fieldValue" data-field="policyHolderState">
                    </span>
                </div>                
            </div>

            <div class="row address">
                <div class="one-column" style="width: 15%;">
                    <span class="fieldLabel">
                        Pin Code:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPin" style="width: 40%;">
                    </span>
                </div>
                <div class="one-column" style="width: 20%;">
                    <span class="fieldLabel">
                        Phone No.:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPhone">
                    </span>
                </div>

                <div class="two-column" style="width: 55%;">
                    <span class="fieldLabel">
                        Email ID:
                    </span>
                    <span class="fieldValue" data-field="policyHolderEmail">
                    </span>
                </div>
            </div>
    	</div>
        <div id="detailsOfInsuranceHistory" class="details-section">
            <p>DETAILS OF INSURANCE HISTORY:</p>
            <div class="row">
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        a) Currently covered by any other Mediclaim / Health Insurance:
                        <input type="checkbox" name="" class="CheckboxBill "> Yes 
                        <input type="checkbox" name="" class="CheckboxBill "> No
                    </span>                    
                </div>            
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        b)  Date of commencement of first Insurance without break:
                    </span>  
                    <span class="fieldValue" style="width: 15%;"></span>                  
                </div>
            </div>

            <div class="row">
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        c)  If yes, company name: 
                    </span>  
                    <span class="fieldValue" style="width: 20%;"></span>                  
                </div>            
                <div class="two-column new-label">
                    <span class="fieldLabel">
                         Policy No.
                    </span>
                    <span class="fieldValue"></span>                   
                </div>
            </div>
            <div class="row">            
                <div class="one-column">
                    <span class="fieldLabel">
                        Sum insured (Rs.)
                    </span>  
                    <span class="fieldValue" style="width: 20%;"></span>                  
                </div>           
                <div class="two-column">
                    <span class="fieldLabel">
                        d) Have you been hospitalized in the last four years since inception of the contract?
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft"> No
                    </span>                    
                </div>
            </div>
            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        Date:
                    </span> 
                    <span class="fieldValue" style="width: 15%;"></span>                   
                </div>
                <div class="two-column">
                    <span class="fieldLabel">
                        Diagnosis:
                    </span>  
                    <span class="fieldValue"></span>                
                </div>                
            </div>

            <div class="row">
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        e) Previously covered by any other Mediclaim /Health insurance :
                        <input type="checkbox" name="" class="CheckboxBill " onclick="return false;"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill "> No 
                    </span>                   
                </div>
                 <div class="two-column new-label">
                    <span class="fieldLabel">
                        f) If yes, company name:
                    </span> 
                    <span class="fieldValue"></span>             
                </div>                
                               
            </div>
        </div>
    	<div id="detailsOfInsuredPersonHospitalized" class="details-section">
            <p>DETAILS OF INSURED PERSON HOSPITALIZED:</p>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        a) Name:
                    </span>
                    <span class="fieldValue" data-field="patientName" style="width: 40%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        b) Gender:
                        Male <input onclick="return false;" type="checkbox" data-field="genderMale" name="" class="CheckboxBill">                         
                        Female <input onclick="return false;" type="checkbox" id="female" data-field="genderFemale" name="" class="CheckboxBill">
                    </span>
                </div>

                <div class="one-column">
                    <span class="fieldLabel">
                        c) Age:
                    </span>
                    <span class="fieldValue" data-field="patientAge" style="width: 15%;">
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        d) Date of Birth:
                    </span>
                    <span class="fieldValue" data-field="patientDob"  style="width: 25%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column full-label">
                    <span class="fieldLabel">
                        e) Relationship to Primary insured: 
                        Self <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipSelf">
                        Spouse <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipSpouse">
                        Child <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipChild">
                        Father <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipFather">
                        Mother <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipMother">
                        Other <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipOther">
                    </span>
                </div>

                <div class="one-column full-label">
                    <span class="fieldLabel">
                        f) Occupation: 
                        Service <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationService">
                        Self Employed <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationSelf">
                        Child <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationNew">
                        Home Maker <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationHome">
                        Student <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationStudent">                       
                        Retired <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationRetired">
                        Other <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationOther">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        g) Address:
                    </span>
                    <span class="fieldValue" data-field="patientAddress">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        City:
                    </span>
                    <span class="fieldValue" data-field="patientCity">
                    </span>
                </div>

                <div class="one-column">
                    <span class="fieldLabel">
                        State:
                    </span>
                    <span class="fieldValue" data-field="patientState">
                    </span>
                </div>
            </div>

             <div class="row address">
                <div class="one-column" style="width: 15%;">
                    <span class="fieldLabel">
                        Pin Code:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPin" style="width: 40%;">
                    </span>
                </div>
                <div class="one-column" style="width: 20%;">
                    <span class="fieldLabel">
                        Phone No.:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPhone">
                    </span>
                </div>

                <div class="two-column" style="width: 55%;">
                    <span class="fieldLabel">
                        Email ID:
                    </span>
                    <span class="fieldValue" data-field="policyHolderEmail">
                    </span>
                </div>
            </div>
    	</div>

    	<div id="detailsOfHospitalization" class="details-section">
            <p>DETAILS OF HOSPITALIZATION:</p>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        a) Name of Hospital where Admited:
                    </span>
                    <span class="fieldValue" data-field="hospitalName">
                    </span>
                </div>

                <div class="one-column full-label">
                    <span class="fieldLabel">
                        b) Room Category occupied: 
                        Day care <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryDay">
                        Single occupancy <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategorySingle">
                        Twin sharing <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryTwin">
                        3 or more beds per room <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryThree">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column new-label">
                    <span class="fieldLabel new-label">
                        c) Hospitalization due to: 
                        Injury <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="Hospitalinjury">
                        Illness <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="Hospitalillness">
                        Maternity <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="HospitalMaternity">
                    </span>
                </div>

                <div class="two-column new-label">
                    <span class="fieldLabel">
                        d) Date of injury / Date Disease first detected /Date of Delivery:
                    </span>
                    <span class="fieldValue" data-field="injuryOrDiseaseOrDeliveryDate" style="width: 20%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column label1">
                    <span class="fieldLabel">
                        e) Date of Admission: 
                    </span>
                    <span class="fieldValue" data-field="dateOfAdmission"  style="width: 25%;">
                    </span>
                </div>
                <div class="one-column label1">
                     <span class="fieldLabel">
                        f) Time: 
                    </span>
                    <span class="fieldValue" data-field="timeOfAdmission" style="width: 20%;">
                    </span>
                </div>

                <div class="two-column label1">
                    <span class="fieldLabel">
                        g) Date of Discharge:
                    </span>
                    <span class="fieldValue" data-field="dateOfDischarge" style="width: 25%;">
                    </span>
                </div>
                <div class="one-column label1">
                     <span class="fieldLabel">
                        h) Time: 
                    </span>
                    <span class="fieldValue" data-field="timeOfDischarge" style="width: 20%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column injuryLabel">
                    <span class="fieldLabel">
                        g) If injury give cause: 
                        Self inflicted <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseSelf"> 
                        Road Traffic Accident <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseRoad">
                        Substance Abuse/Alcohol Consumption <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseOther"> 
                    </span>
                </div>

                <div class="one-column medicoLabel">
                    <span class="fieldLabel">
                        g) If Medico legal-
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isMedicoLegalYes"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isMedicoLegalNo"> No 
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        h) Reported to Police-
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="wasCaseReportedToPoliceYes"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="wasCaseReportedToPoliceNo"> No
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        iii. MLC Report & Police FIR attached
                        <input type="checkbox" name="" class="CheckboxBill " data-field=""> Yes 
                        <input type="checkbox" name="" class="CheckboxBill " data-field=""> No
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        j) System of Medicine:
                        <input type="text" name="" class="MedicineInput">
                    </span>
                </div>
            </div>
    	</div>

    	<div id="detailsOfClaim" class="details-section">
            <p>DETAILS OF CLAIM:</p>
            <div class="row">
                <div id="claimBills" class="two-column">
                    a) Details of the Treatment expenses claimed

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                i. Pre -hospitalization expenses
                            </span>
                            <span class="fieldValue" data-field="preHospitalizationExpense"  style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                ii. Hospitalization expenses
                            </span>
                            <span class="fieldValue" data-field="hospitalizationExpense" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                iii. Post-hospitalization expense
                            </span>
                            <span class="fieldValue" data-field="postHospitalizationExpense" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                iv. Health-Check up cost:
                            </span>
                            <span class="fieldValue" data-field="healthCheckupCost" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                v. Ambulance Charges:
                            </span>
                            <span class="fieldValue" data-field="ambulanceCharge" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                vi. Others (code):
                            </span>
                            <span class="fieldValue" data-field="otherTreatmentExpenses" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column"> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                Total
                            </span>
                            <span class="fieldValue" data-field="totalTreatmentExpense" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                vii. Pre -hospitalization period (days):
                            </span>
                            <span class="fieldValue" data-field="preHospitalizationDays" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                viii. Post -hospitalization period (days):
                            </span>
                            <span class="fieldValue" data-field="postHospitalizationDays" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column" style="width: 90%;">
                            <span class="fieldLabel">
                                b) Claim for Domiciliary Hospitalization: 
                                <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isClaimForDomiciliaryHospitalizationYes"> Yes 
                                <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isClaimForDomiciliaryHospitalizationNo"> No  &nbsp;&nbsp;(If yes, provide details in annexure)
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            c) Details of Lump sum / cash benefit claimed:
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                i. Hospital Daily cash: 
                            </span>
                            <span class="fieldValue" data-field="hospitalDailyCash" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                ii. Surgical Cash:
                            </span>
                            <span class="fieldValue" data-field="surgicalCash" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                iii. Critical Illness benefit: 
                            </span>
                            <span class="fieldValue" data-field="criticalIllnessBenefit" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                iv. Convalescence:
                            </span>
                            <span class="fieldValue" data-field="convalescence" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                v. Pre/Post hospitalization Lump sum benefit 
                            </span>
                            <span class="fieldValue" data-field="prePostHospitalizationLumpSumBenefit" style="width: 5%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                vi. Other
                            </span>
                            <span class="fieldValue" data-field="otherBenefits" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column"> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                Total
                            </span>
                            <span class="fieldValue" data-field="totalBenefit" style="width: 15%;">
                            </span> 
                        </div>
                    </div>
                </div>

                <div id="claimDocuments" class="one-column">
                    <table style="border-left: 2px solid;">
                        <thead>
                            <tr>
                                <th>Claim Documents Submitted - Check List:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Claim form duly signed</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Copy of the claim intimation, if any</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Main Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Break-up Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Bill Payment Receipty</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Discharge Summary</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Pharmacy Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Operation Theater Notes</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> ECG</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Doctor’s request for investigation</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Investigation Reports (Including CT/ MRI / USG / HPE)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Doctor’s Prescriptions</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Others</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    	</div>

        <div class="pagebreak"></div>

    	<div id="detailsOfBillsEnclosed" class="details-section">
            <p>DETAILS OF BILLS ENCLOSED:</p>
            <table class="hiddenTab" id="hiddenTable">
                <thead>
                    <tr>
                        <th style="width: 10%;">Sl. No.</th>
                        <th>Bill. No.</th>
                        <th>Date</th>
                        <th style="width: 25%;">Issued by</th>
                        <th>Towards</th>
                        <th>Amount (Rs)</th>                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="first">
                <thead>
                    <tr>
                        <th style="width: 10%;">Sl. No.</th>
                        <th>Bill. No.</th>
                        <th>Date</th>
                            <th style="width: 25%;">Issued by</th>                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="second">
                <thead>
                    <tr>                        
                        <th>Towards</th>
                        <th>Amount (Rs)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    	</div>

        <div id="detailsOfBankAccount" class="details-section">
            <p class="irdaBankDetails">DETAILS OF PRIMARY INSURED’S BANK ACCOUNT:</p>
            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        a) PAN:
                    </span>
                    <span class="fieldValue" id="panNumber">
                    </span>
                </div>
                <div class="two-column">
                    <span class="fieldLabel">
                        b) Account Number:
                    </span>
                    <span class="fieldValue" id="accountNumber">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        c) Bank Name and Branch:
                    </span>
                    <span class="fieldValue" id="bankName">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        d) Cheque / DD Payable details:
                    </span>
                    <span class="fieldValue" id="nameAsPerBankRecord">
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                       e) IFSC Code:
                    </span>
                    <span class="fieldValue" id="ifscCode">
                    </span>
                </div>
            </div>
        </div>

    	<div id="declarationByTheInsured" class="details-section">
            <p>DECLARATION BY THE INSURED:</p>
            <p>
                I hereby declare that the information furnished in this claim is true & correct to the best of my knowledge and belief. If I have made any false or untrue statement, suppression or concealment of any material fact with respect to questions
                asked in relation to this claim, my right to claim reimbursement shall be forfieted. I also consent & authorise TPA/Insurance company, to seek necessary medical information / documents from any hospital / Medical Practitioner who has
                attended on the person against whom this claim is made. I hereby declare that i have included all the bills / receipts for the purpose of this claim & that will not be making any suplementary claim except the pre/post-hospitalization claim, if
                any.
            </p>
           <div class="row">
                <div class="one-column dateFooter">
                    <span class="fieldLabel">
                        Date
                    </span>
                   <input type="text" name="" class="dateFooterBox">
                </div>

                <div class="one-column placeFooter">
                    <span class="fieldLabel">
                        Place:
                    </span>
                    <input type="text" name="" class="placeFooterBox">
                </div>

                <div class="one-column signFooter">
                    <span class="fieldLabel">
                        Signature of the Insured:
                    </span>
                   <input type="text" name="" class="signFooterBox">
                </div>
            </div>
    	</div>

        <div id="footer">
            <button id="generatePdfButton">Print Pdf</button>
            <button id="returnToFormButton">Return to Form</button>
        </div>
        <div class="SelfClaim">
            <p> 
                Generated by https://sureclaim.in/selfclaim
            </p>
        </div>

    	<script src="js/claimPreview.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114969987-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-114969987-1');

            $(document).ready(function() {
            $(':checkbox').on('click', false);

            var bankDetails = globals.localStorageService
                    .getItem(globals.constants.BANK_DETAILS_LOCAL_STORAGE_KEY);

            // filling bank details
            $('#bankName').text(bankDetails.bankName);
            $('#accountNumber').text(bankDetails.accountNumber);
            $('#nameAsPerBankRecord').text(bankDetails.nameAsPerBankRecord);
            $('#ifscCode').text(bankDetails.ifscCode);
            $('#panNumber').text(bankDetails.panNumber);

            // giving 2s delay to get DOM updated
            setTimeout(function() {
                window.print();
            }, 2000);
        });
        </script>
    </body>
</html>