<!DOCTYPE html>
<html>
    <head>
        <title>HDFC Ergo Claim form</title>
        <base href="/selfclaim/" />
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link href="bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/claimPreview.css">
    	<script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        <script src="js/globals.js"></script>
        <link rel="stylesheet" type="text/css" href="css/forms.css">    
        <style type="text/css">
            @media print {            
                .group {
                    -webkit-print-color-adjust: exact; 
                }
            }

            .heading {
                padding-left: 1%;
                
            }

            .heading h2 {
                border-bottom: 1px solid black;
                margin-right: 1%;
                margin-bottom: 0.5%;
                margin-top: unset;
            }

            .heading-text {
                font-weight: bold;
            }

            .group { 
                display: table;
                width: 100%;
                margin: 0 auto;
                text-align: left;
                border-bottom: 1px solid;
                color: black;
                font-weight: bold;
                padding-top: 4px;
                padding-bottom: 4px;
            } 
            
            .details-section{
                margin-bottom: -1%;
            }

            .left-align {
                width: 84%;
                float: right;
                padding-top: 1%;
                padding-left: 1%;
                text-align: center;
            }
            .left-align h1 {
                font-weight: inherit;
                margin-bottom: 0;
                color: #010171;
            }

            .right-align {
                width: 13%;
                float: left;
                text-align: right;
                padding-right: 2%;
                padding-top: 1%;
            }

            .right-align img {
                margin-left: 10% !important;
            }

            .TableLeft {
                border-left: 2px solid;
            }

            .details-section .row .two-column, .half-column, .one-column {
                margin: 0.4em !important;
            }
            .heading-h1 {
                background: black !important;
                color: white !important;
                text-align: center !important;
                border-bottom: unset;
            }
            span.fieldValue {
                border:unset;
                border-bottom: 1px solid #afaeae !important;
            }
            .second-page-image {
                text-align: right;
                padding-right: 2%;
                display: none;
            }
            .bank-label {
                border-bottom:unset;
                border:1px solid #afaeae !important;
            }
            @media print {
                .second-page-image {
                    display: block !important;
                }
            }

        </style>	
    </head>
    <body>
    	<div id="" class="row">
            <div class="right-align">
                <img src="images/logo/star-health.png">
            </div>
            <div class="left-align">
                <h1>STAR HEALTH AND ALLIED INSURANCE COMPANY LIMITED</h1>
                <span>Regd. & Corporate office: 1, New Tank Street, Valluvar Kottam High Road, Nungambakkam, Chennai – 600 034.<br>
                15, Balaji Complex, Whites lane, 1st Floor, Royapettah, Chennai – 600 014, <br>
                Ph: 044 2888 6495 <br>
                CIN: U66010TN2005PLC056649 &nbsp;&nbsp;Email: support@starhealth.in &nbsp;&nbsp;Website: www.starhealth.in &nbsp;&nbsp;IRDA Regn. No: 129
                </span>
            </div>
    	</div>
 
    	<div id="detailsOfPrimaryInsured" class="details-section">
            <!-- Heading -->
            <div class="group heading-h1">
            CLAIM FORM - PART - A           
            </div>
            <P style="text-align: center;"><b>TO BE FILLED BY THE INSURED</b> The issue of this form is not to be taken as an admission of liability &nbsp;&nbsp;&nbsp;&nbsp;<b>Claim No.</b> __________________</P>
            <!-- Heading End -->
             <div class="group">
            DETAILS OF PRIMARY INSURED:           
            </div>
            <div class="row">
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        a) Policy No.:
                    </span>
                    <span class="fieldValue" data-field="policyNumber">
                    </span>
                </div>
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        b) Sl. No/ Certificate no.
                    </span>
                    <span class="fieldValue" data-field="">
                    </span>                    
                </div>                
            </div>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        c) Company / TPA ID (MA ID)No:
                    </span>
                    <span class="fieldValue" data-field="tpaIdNo" style="width: 35%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        d) Name: 
                    </span>
                    <span class="fieldValue" data-field="policyHolderName" style="width: 70%;">
                    </span>
                </div>
            </div>
            <div class="row">

                <div class="two-column">
                    <span class="fieldLabel">
                        e) Address:
                    </span>
                    <span class="fieldValue" data-field="policyHolderAddress">
                    </span>
                </div>
            </div>

            <div class="row address">
                <div class="one-column">
                    <span class="fieldLabel">
                        City:
                    </span>
                    <span class="fieldValue" data-field="policyHolderCity">
                    </span>
                </div>

                <div class="one-column">
                    <span class="fieldLabel">
                        State:
                    </span>
                    <span class="fieldValue" data-field="policyHolderState">
                    </span>
                </div>

                
            </div>

            <div class="row address">
                <div class="one-column" style="width: 15%;">
                    <span class="fieldLabel">
                        Pin Code:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPin" style="width: 40%;">
                    </span>
                </div>
                <div class="one-column" style="width: 20%;">
                    <span class="fieldLabel">
                        Phone No.:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPhone">
                    </span>
                </div>

                <div class="two-column" style="width: 55%;">
                    <span class="fieldLabel">
                        Email ID:
                    </span>
                    <span class="fieldValue" data-field="policyHolderEmail" style="width: 70%;">
                    </span>
                </div>
            </div>
    	</div>

<div id="detailsOfHospitalization" class="details-section">
            <!-- Heading -->
            <div class="group">
            DETAILS OF INSURANCE HISTORY:           
            </div>
            <!-- Heading End -->
            
            <div class="row">
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        a) Currently covered by any other Mediclaim / Health Insurance:
                        <input type="checkbox" name="" class="CheckboxBill "> Yes 
                        <input type="checkbox" name="" class="CheckboxBill "> No
                    </span>                    
                </div>
                <div class="two-column new-label">
                    <span class="fieldLabel">
                        b)  Date of commencement of first Insurance without break:
                    </span>
                    <span class="fieldValue" style="width: 15%;"></span>                    
                </div>
            </div>
            <div class="row">
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        c)  If yes, company name: 
                    </span>
                    <span class="fieldValue" style="width: 20%;"></span>                    
                </div>
                <div class="two-column new-label">
                    <span class="fieldLabel">
                         Policy No.
                    </span> 
                    <span class="fieldValue"></span>             
                </div>
            </div>

            <div class="row">
                <div class="one-column" style="width: 16%;">
                    <span class="fieldLabel">
                        Sum insured (Rs.)
                    </span>
                    <span class="fieldValue" style="width: 20%;"></span>                    
                </div>
                <div class="two-column" style="width: 57%;">
                    <span class="fieldLabel">
                        d) Have you been hospitalized in the last four years since inception of the contract?  
                        <input type="checkbox" name="" class="CheckboxBill">Yes   
                        <input type="checkbox" name="" class="CheckboxBill">No 
                    </span>                    
                </div>
                <div class="one-column" style="width: 18%;">
                    <span class="fieldLabel">
                        Date:
                    </span>
                    <span class="fieldValue" style="width: 20%"></span>
                </div>
            </div>
                <div class="row">
                
                <div class="one-column">
                    <span class="fieldLabel">
                         Diagnosis:
                    </span>
                    <span class="fieldValue" style="width: 20%"></span>
                </div>
                <div class="two-column">
                    <span class="fieldLabel">
                        e) Previously covered by any other Mediclaim /Health insurance : 
                        <input type="checkbox" name="" class="CheckboxBill " onclick="return false;"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill "> No
                    </span>                    
                </div>
            </div>

            <div class="row"> 
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        f) If yes, company name:
                    </span> 
                    <span class="fieldValue"></span>
                </div>
            </div>
        </div>
    	<div id="detailsOfInsuredPersonHospitalized" class="details-section">
            
            <!-- Heading -->
            <div class="group">
            DETAILS OF INSURED PERSON HOSPITALISED:         
            </div>
            <!-- Heading End -->
            <div class="row">
                <div class="two-column full-label">
                    <span class="fieldLabel">
                        a) Name:
                    </span>
                    <span class="fieldValue" data-field="patientName"  style="width: 70%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        b) Gender:
                        Male <input onclick="return false;" type="checkbox" data-field="genderMale" name="" class="CheckboxBill">                         
                        Female <input onclick="return false;" type="checkbox" id="female" data-field="genderFemale" name="" class="CheckboxBill">
                    </span>
                    </span>
                </div>

                <div class="one-column">
                    <span class="fieldLabel">
                        c) Age:
                    </span>
                    <span class="fieldValue" data-field="patientAge" style="width: 15%;">
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        d) Date of Birth:
                    </span>
                    <span class="fieldValue" data-field="patientDob" style="width: 30%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column full-label">
                    <span class="fieldLabel">
                        e) Relationship to Primary insured:
                         Self <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipSelf">
                         Spouse <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipSpouse">
                         Child <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipChild">
                         Father <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipFather">
                         Mother <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipMother">
                         Other <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RelationshipOther">
                    </span>
                </div>
            </div>
            <div class="row">

                <div class="two-column full-label">
                    <span class="fieldLabel">
                        f) Occupation:
                        Service <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationService">
                        Self Employed <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationSelf">
                        Child <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationNew">
                        Home Maker <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationHome">
                        Student <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationStudent">                       
                        Retired <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationRetired">
                        Other <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="OccupationOther">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        g) Address:
                    </span>
                    <span class="fieldValue" data-field="patientAddress">
                    </span>
                </div>
            </div>

            <div class="row address">
                <div class="one-column">
                    <span class="fieldLabel">
                        City:
                    </span>
                    <span class="fieldValue" data-field="patientCity">
                    </span>
                </div>

                <div class="one-column">
                    <span class="fieldLabel">
                        State:
                    </span>
                    <span class="fieldValue" data-field="patientState">
                    </span>
                </div>
            </div>

            <div class="row address">
                <div class="one-column" style="width: 15%;">
                    <span class="fieldLabel">
                        Pin Code:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPin" style="width: 40%;">
                    </span>
                </div>
                <div class="one-column" style="width: 20%;">
                    <span class="fieldLabel">
                        Phone No.:
                    </span>
                    <span class="fieldValue" data-field="policyHolderPhone">
                    </span>
                </div>

                <div class="two-column" style="width: 55%;">
                    <span class="fieldLabel">
                        Email ID:
                    </span>
                    <span class="fieldValue" data-field="policyHolderEmail">
                    </span>
                </div>
            </div>
    	</div>

    	<div id="detailsOfHospitalization" class="details-section">
            
            <!-- Heading -->
            <div class="group">
            DETAILS OF HOSPITALIZATION:         
            </div>
            <!-- Heading End -->
            <div class="row">
                <div class="two-column full-label">
                    <span class="fieldLabel">
                        a) Name of Hospital where Admited:
                    </span>
                    <span class="fieldValue" data-field="hospitalName" style="width:70%">
                    </span>
                </div>
            </div>
            <div class="row">

                <div class="one-column full-label">
                    <span class="fieldLabel">
                        b) Room Category occupied:
                        Day care <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryDay">
                        Single occupancy <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategorySingle">
                        Twin sharing <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryTwin">
                        3 or more beds per room <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="RoomCategoryThree">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column new-label">
                    <span class="fieldLabel">
                        c) Hospitalization due to:
                        Injury <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="Hospitalinjury">
                        Illness <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="Hospitalillness">
                        Maternity <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="HospitalMaternity">  
                    </span>
                </div>

                <div class="two-column new-label">
                    <span class="fieldLabel">
                        d) Date of injury / Date Disease first detected /Date of Delivery:
                    </span>
                    <span class="fieldValue" data-field="injuryOrDiseaseOrDeliveryDate" style="width: 20%;">
                    </span>
                </div>
            </div>

             <div class="row">
                <div class="one-column label1">
                    <span class="fieldLabel">
                        e) Date of Admission: 
                    </span>
                    <span class="fieldValue" data-field="dateOfAdmission"  style="width: 35%;">
                    </span>
                </div>
                <div class="one-column label1">
                     <span class="fieldLabel">
                        f) Time: 
                    </span>
                    <span class="fieldValue" data-field="timeOfAdmission" style="width: 30%;">
                    </span>
                </div>

                <div class="two-column label1">
                    <span class="fieldLabel">
                        g) Date of Discharge:
                    </span>
                    <span class="fieldValue" data-field="dateOfDischarge" style="width: 35%;">
                    </span>
                </div>
                <div class="one-column label1">
                     <span class="fieldLabel">
                        h) Time: 
                    </span>
                    <span class="fieldValue" data-field="timeOfDischarge" style="width: 30%;">
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="one-column injuryLabel">
                    <span class="fieldLabel">
                        I) If injury give cause: 
                        Self inflicted <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseSelf"> 
                        Road Traffic Accident <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseRoad">
                        Substance Abuse/Alcohol Consumption <input type="checkbox" name="" class="CheckboxBill FilledCheckbox" data-field="injuryCauseOther">
                    </span>
                </div>

                <div class="one-column medicoLabel">
                    <span class="fieldLabel">
                        i) If Medico legal-
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isMedicoLegalYes"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isMedicoLegalNo"> No
                    </span>
                </div>
            </div>
                <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        ii) Reported to Police-
                    
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="wasCaseReportedToPoliceYes"> Yes 
                        <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="wasCaseReportedToPoliceNo"> No
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        iii) MLC Report & Police FIR attached
                        <input type="checkbox" name="" class="CheckboxBill " data-field=""> Yes 
                        <input type="checkbox" name="" class="CheckboxBill " data-field=""> No
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                        j) System of Medicine:
                        <input type="text" name="" class="medicine-system">
                    </span>
                </div>
            </div>
    	</div>

    	<div id="detailsOfClaim" class="details-section">
            
            <!-- Heading -->
            <div class="group">
            DETAILS OF CLAIM:   
            </div>
            <!-- Heading End -->
            
            <div class="row">
                <div id="claimBills" class="two-column">
                    a) Details of the Treatment expenses claimed
                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                i. Pre -hospitalization expenses
                            </span>
                            <span class="fieldValue" data-field="preHospitalizationExpense"  style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                ii. Hospitalization expenses
                            </span>
                            <span class="fieldValue" data-field="hospitalizationExpense" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                iii. Post-hospitalization expense
                            </span>
                            <span class="fieldValue" data-field="postHospitalizationExpense" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                iv. Health-Check up cost:
                            </span>
                            <span class="fieldValue" data-field="healthCheckupCost" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                v. Ambulance Charges:
                            </span>
                            <span class="fieldValue" data-field="ambulanceCharge" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                vi. Others (code):
                            </span>
                            <span class="fieldValue" data-field="otherTreatmentExpenses" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column"> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                Total
                            </span>
                            <span class="fieldValue" data-field="totalTreatmentExpense" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                vii. Pre -hospitalization period (days):
                            </span>
                            <span class="fieldValue" data-field="preHospitalizationDays" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                viii. Post -hospitalization period (days):
                            </span>
                            <span class="fieldValue" data-field="postHospitalizationDays" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column" style="width: 90%;">
                            <span class="fieldLabel">
                                b) Claim for Domiciliary Hospitalization: 
                                <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isClaimForDomiciliaryHospitalizationYes"> Yes 
                                <input type="checkbox" name="" class="CheckboxBill FilledCheckboxLeft" data-field="isClaimForDomiciliaryHospitalizationNo"> No  (If yes, provide details in annexure)
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            c) Details of Lump sum / cash benefit claimed:
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                i. Hospital Daily cash: 
                            </span>
                            <span class="fieldValue" data-field="hospitalDailyCash" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                ii. Surgical Cash:
                            </span>
                            <span class="fieldValue" data-field="surgicalCash" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                iii. Critical Illness benefit: 
                            </span>
                            <span class="fieldValue" data-field="criticalIllnessBenefit" style="width: 15%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                iv. Convalescence:
                            </span>
                            <span class="fieldValue" data-field="convalescence" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column">
                            <span class="fieldLabel">
                                v. Pre/Post hospitalization Lump sum benefit 
                            </span>
                            <span class="fieldValue" data-field="prePostHospitalizationLumpSumBenefit" style="width: 5%;">
                            </span> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                vi. Other
                            </span>
                            <span class="fieldValue" data-field="otherBenefits" style="width: 15%;">
                            </span> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="half-column"> 
                        </div>
                        <div class="half-column">
                            <span class="fieldLabel">
                                Total
                            </span>
                            <span class="fieldValue" data-field="totalBenefit" style="width: 15%;">
                            </span> 
                        </div>
                    </div>
                </div>

                <div id="claimDocuments" class="one-column">
                    <table class="TableLeft">
                        <thead>
                            <tr>
                                <th>Claim Documents Submitted - Check List:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Claim form duly signed</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Copy of the claim intimation, if any</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Main Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Break-up Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Bill Payment Receipty</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Hospital Discharge Summary</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Pharmacy Bill</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Operation Theater Notes</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> ECG</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Doctor’s request for investigation</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Investigation Reports (Including CT/ MRI / USG / HPE)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Doctor’s Prescriptions</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" class="CheckboxBill"> Others</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

        <div class="pagebreak">

    	<div id="detailsOfBillsEnclosed" class="details-section">
            <div class="second-page-image">
                <img src="images/logo/star-health.png">
            </div>
           <!-- Heading -->
            <div class="group">
            DETAILS OF BILLS ENCLOSED:      
            </div>
            <!-- Heading End -->
            <table class="hiddenTab" id="hiddenTable">
                <thead>
                    <tr>
                        <th style="width: 10%;">Sl. No.</th>
                        <th>Bill. No.</th>
                        <th>Date</th>
                        <th style="width: 25%;">Issued by</th>
                        <th>Towards</th>
                        <th>Amount (Rs)</th>                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="first">
                <thead>
                    <tr>
                        <th style="width: 10%;">Sl. No.</th>
                        <th>Bill. No.</th>
                        <th>Date</th>
                        <th style="width: 25%;border-right: unset;">Issued by</th>                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="second">
                <thead>
                    <tr>                        
                        <th>Towards</th>
                        <th>Amount (Rs)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    	</div>
        <div id="detailsOfBillsEnclosed" class="details-section">
           
           <!-- Heading -->
            <div class="group">
            DETAILS OF PRIMARY INSURED'S BANK ACCOUNT: 
            </div>
            <!-- Heading End -->
            <div class="row">
                <div class="one-column">
                    <span class="fieldLabel">
                        a) PAN:
                    </span>
                    <span class="fieldValue bank-label" id="panNumber">
                    </span>
                </div>
                <div class="two-column">
                    <span class="fieldLabel">
                        b) Account Number:
                    </span>
                    <span class="fieldValue bank-label" id="accountNumber">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        c) Bank Name and Branch:
                    </span>
                    <span class="fieldValue bank-label" id="bankName">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="two-column">
                    <span class="fieldLabel">
                        d) Cheque / DD Payable details:
                    </span>
                    <span class="fieldValue bank-label" id="nameAsPerBankRecord">
                    </span>
                </div>
                <div class="one-column">
                    <span class="fieldLabel">
                       e) IFSC Code:
                    </span>
                    <span class="fieldValue bank-label" id="ifscCode">
                    </span>
                </div>
            </div>
        </div>

    	<div id="declarationByTheInsured" class="details-section">
            
            <!-- Heading -->
            <div class="group">
            DECLARATION BY THE INSURED: 
            </div>
            <!-- Heading End -->
            <p>
                I hereby declare that the information furnished in the claim form is true & correct to the best of my 
                knowledge and belief. If I have made any false or untrue statement, suppression
                or concealent of any material fact with respect to questions asked in relation to this claim, my right to 
                claim reimbrusement shall be forfeited, I also consent & authorize TPA /
                Insurance Company, to seek necessary medical information / documents from any hospital / Medical 
                Practitioner who has attended on the person against whom this claim is made.
                I hereby declare that I have included all the bills / receipts for the purpose of this claim & that I will 
                not be making any supplementary claim except the pre/post-hospitalization
                claim, if any.
            </p>
            <div class="row">
                <div class="one-column dateFooter">
                    <span class="fieldLabel">
                        Date
                    </span>
                   <input type="text" name="" class="dateFooterBox">
                </div>

                <div class="one-column placeFooter">
                    <span class="fieldLabel">
                        Place:
                    </span>
                    <input type="text" name="" class="placeFooterBox">
                </div>

                <div class="one-column signFooter">
                    <span class="fieldLabel">
                        Signature of the Insured:
                    </span>
                   <input type="text" name="" class="signFooterBox">
                </div>
            </div>
    	</div>

        <div id="footer">
            <button id="generatePdfButton">Print Pdf</button>
            <button id="returnToFormButton">Return to Form</button>
        </div>
        <div class="SelfClaim">
            <p> 
                Generated by https://sureclaim.in/selfclaim
            </p>
        </div>

    	<script src="js/claimPreview.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114969987-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-114969987-1');

            $(document).ready(function() {
            $(':checkbox').on('click', false);

            var bankDetails = globals.localStorageService
                    .getItem(globals.constants.BANK_DETAILS_LOCAL_STORAGE_KEY);

            // filling bank details
            $('#bankName').text(bankDetails.bankName);
            $('#accountNumber').text(bankDetails.accountNumber);
            $('#nameAsPerBankRecord').text(bankDetails.nameAsPerBankRecord);
            $('#ifscCode').text(bankDetails.ifscCode);
            $('#panNumber').text(bankDetails.panNumber);

            // giving 2s delay to get DOM updated
            setTimeout(function() {
                window.print();
            }, 2000);
        });
        </script>
    </body>
</html>